body{
    margin: 0;
    padding: 0;
    font-size: 13px;
    font-family: Arial, Helvetica, sans-serif;
}
/*******************************************/
/*******************************************/
/*******************************************/
/* Navegación*/
header{
    /*width- ancho // height - alto/*/
    width: 100%;
    height: 60px;
}

header nav{
    display: flex;
    /*Justificar a la derecha*/
    justify-content: flex-end;
}

header nav .nav-right-section{
    width: 250px;
    height: auto;
    display: flex;
    /*Eliminar puntitos*/
    list-style: none;
    justify-content: center;
    align-items: center;
}

a{
    text-decoration: none;
    cursor:pointer;
}

nav .nav-right-section a{
    margin-right: 15px;
    color: rgb(84, 13, 58);
}
/*Ícono de menú*/
nav .nav-right-section .menu{
    background-image: url(https://img.icons8.com/ios-glyphs/90/000000/circled-menu.png);
    width: 20px;
    height: 20px;
    background-size: contain; 
}
/*Imagen estilo*/
nav .nav-right-section img{
    border-radius: 60px;
    margin-left: 1px;
    width:35px;
    height: 35px;
}

/*******************************************/
/*******************************************/
/*******************************************/
/*Main*/
main {
    margin-top: 100px;
    text-align: center;
}

/*Sección logo*/
main .logo-google{
    width: 530px;
    margin:0 auto;
    margin-bottom: 35px;
} 
/*logo goole*/
main .logo-google img{
    height: 120px;
}

/*Sección input*/
main .main-input{
    width: 530px;
    margin: 0 auto;
    margin-bottom: 35px;
}

main .main-input-container{
    width: 525px;
    border-radius: 100px;
    border: 1px solid #dfe1e5;
    display: flex;
    justify-content:center;
    align-items: center;
}

main .main-input input{
    border: none;
    width: 550px;
    height: 40px;
    outline: none;
}

main .main-input-container:hover{
    box-shadow: 0 1px 6px 0px#20212447;
    border-color: #dfe1e500;
}

main .main-input .search-icon{
    background-image: url(https://seekicon.com/free-icon-download/search_20.svg);
    /*Evitar que se reptita el icono por alguna razon*/
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    width: 14px;
    height: 14px;
    padding-left: 6%;
}

main .main-input .micro-icon{
    background-image: url(https://upload.wikimedia.org/wikipedia/commons/thumb/e/e8/Google_mic.svg/726px-Google_mic.svg.png);
    width: 17px;
    height: 17px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    cursor: pointer;
    padding-left: 1%;
}

main .main-input .cam-icon{
    background-image: url(https://static.wikia.nocookie.net/logopedia/images/2/2b/Google_Lens_2021.svg);
    width: 17px;
    height: 17px;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    padding-right: 7% ;
}

main .main-buttons{
    width: 550px;
    margin: 0 auto;
}

main .main-buttons div{
    display: inline-block;
    /*Margen de los botones*/
    margin-right: 15px;
    border: 1px solid #f8f9fa;
}

main .main-buttons button{
    border: 0;
    height: 36px;
    /*Fondo de botones*/
    background-color: #f8f9fa;
    font-size: 13px;
    /*Color de letreas antes de hover*/
    color:#3c4043;
    /*Redondear botones*/
    border-radius: 4px;
    /*Margenen interno*/
    padding: 0 15px;
    /*Margen entre botones*/
    margin-right: 5px;
    border: 1px solid #f8f9fa;
}
/*Efecto hover (como el input)*/
main .main-buttons button:hover{
    box-shadow: 0 1px 1px rgba(0, 0, 0,0.1);
    background-color: #f8f9fa;
    /*Cambiar borde al hacer hover */
    border: 1px solid #dadce0;
    /*Cambia color de letras (muy leve) al hacer hover(pasar el cursor por encima del botón*/
    color: #202124;
    cursor:pointer;
}
/*******************************************/
/***************************************
/*FOOTER*/

footer{
    background-color:#f2f2f2;
    width: 100%;
    height: 50px;
    position: absolute;
    font-size: 13px;
    border-top: 1px solid #e4e4e4;
    /*Footer dividido en 2 columnas*/
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    /*Posicionar*/
    bottom: 0;
}

footer ul{
    margin: 15px;
    list-style: none;
    display: flex;
    padding-left: 0px;
}

footer .footer-left{
    justify-self: left;
}

footer .footer-right{
    justify-self: right;
}

footer ul li a{
    color: #70757a;
    margin: 10px;
}
footer div{
    color: #70757a;
    margin: 10px 100% 10px 24px;
    justify-self: left;
}
hr{
    border-top: 3px solid#bbb;
}
